@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
  --primary-color: #a7a5a5;
  --secondary-color: #faa00b;
  --tertiary-color: #333;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  font-family: "Open Sans", sans-serif;
  border: solid 1px transparent;
}

.container {
  max-width: 640px;
  margin: 50px auto 75px;
  background: #000;
  padding: 20px;
  border-radius: 20px;
}

.calculator {
  margin: auto;
}

h1 {
  font-family: "Poppins", "Open Sans", sans-serif;
  font-size: 25px;
  color: #FFF;
  margin-left: 22px;
}

h1:hover {
  color: rgba(50, 50, 50, 0.4);
}

input, label, button {
  display: block;
  width: 100%;
}

input {
  font-size: 20px;
  color: #fff;
  height: 50px;
  padding: 0 20px;
  border: none;
  background: #000;
}

input:hover {
  outline: 1px solid var(--secondary-color);
}

.display {
  font-size: 3em;
  width: 100%;
  text-align: right;
  margin-bottom: 9px;
}

button {
  border: none;
  /* border-radius: 50px; */
  background: var(--tertiary-color);
  font-weight: 700;
  font-size: 20px;
  color: #FFF;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

td {
  padding: 2px;
  width: 25%;
}

.btn-esp {
  color: #000;
  background: var(--primary-color);
}

.btn-opr {
  background: var(--secondary-color);
}

.btn-esp:hover, .btn-esp:focus {
  background: #ddd;
  transition: 0.6s;
}

.btn-opr:hover, .btn-opr:focus {
  background: #ddd;
  transition: 0.6s;
  color: var(--secondary-color);
}

.btn-num:hover, .btn-dot:hover, .btn-num:focus, .btn-dot:focus {
  background: #737373;
  transition: 0.8s;
}

footer {
  width: 100%;
  height: 5%;
  margin: auto;
  background-color: #2b2b2b;
  padding: 0;
  box-shadow: 2px 2px 4px black;
  letter-spacing: 1.5px;
  position: relative;
}

footer h2 {
  font-size: 20px;
  color: var(--secondary-color);
  display: inline-block;
  margin: 0 20px 0;
  padding: 0;
}

footer p {
  font-size: 15px;
  color: var(--primary-color);
  font-variant: small-caps;
  margin: 0 20px 0;
  padding: 2px 0 4px;
}

.footer-icons {
  position: absolute;
  bottom: 2px;
  right: 10px;
}

.footer-icons a {
  color: var(--primary-color);
  font-size: 22px;
  padding-right: 4px;
  transition: .6s linear;
}

.footer-icons a:hover {
  color: var(--secondary-color);
}
